.weather-icon {
    width: 3vw;
}
.sidebar {
    font-size: large;
    margin-top: 100%;
}
.nav-header {
    margin: 5%;
}
.nav-icon {
    width: 12%;
    margin-right: 10%;
}
.nav-pills {
    margin: 0;
}
.nav-pills .nav-link.active {
    background-color: mediumpurple;
}
.nav-item {
    margin: 5% 0% 5% 0%; 
    width: 100%;
}

a:link {
    text-decoration: none;
    color: black;
}


a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}